// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.container {
	.left-col {
		opacity: 1;
		text-align: center;
		@media screen and (min-width: 700px) {
			border-left: 6px solid #f05d1f;
		}
		@media screen and (max-width: 700px) {
			border-top: 6px solid #f05d1f;
		}
	}
}