// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$white: #f9f9f9;

html {
	background: $white;
}

body {
	font-family: $sans !important;
	font-size: 1.2em;
	line-height: 1.65em;
	max-width: 100%;
	padding: 0;
	margin: 0;

	> header {
		background: url(/images/header_bg.png);
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;	

		@media only screen and (max-width: 860px) {
			padding-left: 15px;
		}

		> hgroup  {
			max-width: 860px;
			margin: 0 auto;

			h1, h2 {
				color: #ccc;

			}

			> img {
				height: 96px;
				width: 96px;
				float: left;
				margin-top: 7px;
			}
			> div {
				margin-left: 110px;
			}
	    }

		h1 {
			a, a:visited, a:hover {
				font-family: $heading-font-family;
				font-size: 1em !important;
				color: inherit;
			}
		}
	}

	> nav {
		background: $white;
		border-bottom: 1px solid #F2F2F2;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 860px;
		margin: 0 auto;

		@media only screen and (max-width: 860px) {
			padding-left: 15px;
			padding-right: 15px;
		}

		form .search {
			border-radius: 0.2em 0.2em 0.2em 0.2em;
			box-shadow: none;
			border: 0px;
			padding-top: 0.3em;
			padding-bottom: 0.3em;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}

		a {
			font-family: $sans;
			font-size: 0.9em;
			padding-top: 0.3em;
			line-height: 1.5em;
		}

		li + li {
			border-left: 0px;

			a {
				border-left: 0px;
			}
		}
	}

	> div {
		background: $white;
		border-bottom: 0px;

		> div {
			background: $white;
			border-right-width: 0px;
		}
	}

	> footer {
		background: $white;
		text-shadow: none;
		color: #AAAAAA;
	  	padding-left: 0;
	  	padding-right: 0;
		border-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 860px;
		margin: 0 auto;
	}

	#content {

		color: #666;

		h1, h2, h3, h4, h5, h6 {
			color: #333;
		}

		> article {
			padding-left: 0px;
			padding-right: 0px;
		}
		article {
			header {
				h1 {
					margin-bottom: 16px;
				}
			}
			div.note {
				max-width: 860px;
				margin: 0 auto;
				padding: 8px;
				border-left: 3px solid #8EAFD1;
				background: #efefef;
				font-size: 0.8em;
				line-height: 1.5em;
				> span.title {
					display: block;
					padding-bottom: 1.2em;
					font-weight: 700;
					color: #666;
				}
			}
		}

		> div {
			> article, > section {
				padding-left: 0px;
				padding-right: 0px;
				section, header, footer, div.ads {
					max-width: 860px;
					padding-left: 15px;
					padding-right: 15px;
					margin: 0 auto;
				}
				p {
					font-size: 95%;
					line-height: 1.5;
				}
				h2 {
					padding-top: 0;
				}
			}
			> section {
				max-width: 860px;
				margin: 0 auto;
			}
		}
	}
}

article {
	padding-top: 2em;

	.entry-content {
		img {
			&.pull {
				padding-bottom: 16px;
				
				@media only screen and (max-width: 600px) {
					display: block;
				}
				&.left {
					padding-right: 24px;
				}
				&.right {
					padding-left: 24px;
				}
			}
			display: block;
			margin: 0 auto;
		}
	}

	p {
		margin-bottom: 1.5em;
	}

	ul, ol {
		margin-left: 2em;
	}

	a, a:visited {
		color: #1863A1;
	}

	header {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 700;
		}
	}
}

#content {
	div.pagination {
		background: none repeat scroll 0 0 transparent;
		margin: 0 10px;  
		font-size: 0.95em;
		padding-bottom: 1.5em;
		margin-top: 4em;
		position: relative;
		text-align: center;		
		border-top: dotted 1px #D1D1D1;
		border-bottom: dotted 1px #D1D1D1;
	}

	.blog-index {
		article {
			padding-top: 4em;

			header {
				padding-left: 0;
  				padding-right: 0;
			}
		}

		h1 {
			a {
				font-family: $heading-font-family;
				font-weight: 400;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	.hentry {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 700;
			font-size: 2.2em;
		}
	}
	
}

figure.code {
	.highlight {
		background: #FFFFFF !important;
		.gutter {
			.line-numbers {
				background: #efefef !important;
				span {
					color: #999 !important;
				}
			}
		}
	}
	figcaption {
		background: none;
		border: none;
	}
}

.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
	border: 1px solid #f1f1f1 !important;
}

figure.code, .gist-file, pre {
	box-shadow: none;
}

.pre-code, html .gist .gist-file .gist-syntax .highlight pre, .highlight code {
	background: #FFFFFF !important;
}

aside {
	display: none;
}
