// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.container {
	.left-col {
		opacity: 1;
		text-align: center;
		@media screen and (min-width: 700px) {
			border-left: 6px solid #f05d1f;
		}
		@media screen and (max-width: 700px) {
			border-top: 6px solid #f05d1f;
		}
	}
}

.banner {
	background: #eee;
	border-radius: 4px;
	border: 1px solid #999;
	color: #333;
	padding: 5px;
	position: fixed;
	bottom: 20px;
	left: 1.1%;
	width: 21.3%;
	p {
		line-height: 1.5em;
	}
}

.button {
	width: auto;
	border-radius: 2px;
	background: #2ba6cb;
	border: 1px solid #1e728c;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 10px 20px 11px;
	margin: 5px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
	&:hover, &:focus {
		color: #fff;
		background-color: #2284a1;
	}
	&:active {
		-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
		-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
		box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
	}
}

.container .left-col 
#header a.button {
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
	&:hover {
		color: #fff;
	}
}

.large-screen {
	@media screen and (max-width: 700px) {
		display: none;
	}
}

.small-screen {
	@media screen and (min-width: 700px) {
		display: none;
	}
}
